version: '3.8'

services:
  db:
    image: mysql:8.0
    container_name: mysql_compras_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: compras
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
    # Esto asegura que el plugin de password sea compatible con Prisma/Nest
    command: --default-authentication-plugin=mysql_native_password

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin_compras
    restart: always
    ports:
      - "8080:80"
    environment:
      PMA_HOST: db
      MYSQL_ROOT_PASSWORD: root

volumes:
  db_data:
