.container {
  display: flex;
  gap: 2rem;
  padding: 1.5rem;
  background: #000;
  min-height: 80vh;
  color: #e0e0e0;
}

/* Lista de la izquierda */
.listSide {
  flex: 0 0 320px;
  background: #0a0a0a;
  border-radius: 12px;
  border: 1px solid #1a1a1a;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.solCard {
  background: #111;
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid transparent;
  cursor: pointer;
  transition: all 0.2s ease;
}

.solCard:hover {
  background: #161616;
  border-color: #333;
}

.solCardActive {
  background: rgba(0, 255, 65, 0.03);
  border-color: #00ff41;
}

/* Formulario Principal */
.formSide {
  flex: 1;
  background: #0a0a0a;
  border-radius: 12px;
  border: 1px solid #1a1a1a;
  padding: 2.5rem;
}

.header {
  border-bottom: 1px solid #1a1a1a;
  padding-bottom: 1.5rem;
  margin-bottom: 2rem;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 2.5rem;
}

.table th {
  text-align: left;
  font-size: 0.7rem;
  text-transform: uppercase;
  color: #666;
  padding-bottom: 0.75rem;
  letter-spacing: 1px;
}

.table td {
  padding: 0.75rem 0;
  border-bottom: 1px solid #141414;
  font-size: 0.9rem;
}

/* Inputs Limpios */
.gridProps {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.propBox {
  background: #0d0d0d;
  padding: 1.5rem;
  border-radius: 8px;
  border: 1px solid #1a1a1a;
}

.inputGroup {
  margin-top: 1rem;
}

.inputLabel {
  display: block;
  font-size: 0.65rem;
  color: #555;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.input {
  width: 100%;
  background: #050505;
  border: 1px solid #222;
  color: #fff;
  padding: 0.75rem;
  border-radius: 6px;
  font-size: 0.9rem;
  transition: border 0.2s;
}

.input:focus {
  border-color: #00ff41;
  outline: none;
}

.btnSubmit {
  margin-top: 2.5rem;
  width: 100%;
  background: #00ff41;
  color: #000;
  font-weight: 700;
  padding: 1rem;
  border-radius: 6px;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  border: none;
  transition: transform 0.1s;
}

.btnSubmit:active {
  transform: scale(0.98);
}
